@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Oswald|Titillium+Web');

/*
* Variables
*/

// defaults
$default-color: #222;
$default-font-size: 1em;
$default-line-height: 1.4;
$default-selection-bg: #40C4FF;
$default-selection-color: rgba(255, 255, 255, 1);

// Font Stack
$droid-sans: 'Droid Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$titillium-web: 'Titillium Web', sans-serif;

//Color Palette
$background: rgba(255, 255, 255, 1);
$primaryDark: #313638;
$primary: rgba(69, 69, 69, 1);
$highlight: #03A9F4;
$highlightBackground: #EDF0DA;
