@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import 'variables';

/*
 * Loading Screen
 */
.loading {
   opacity: 0;
   transition: opacity .8s ease-in-out;
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background: #000;
   z-index: -1;
}

my-app:empty + .loading {
   opacity: 1;
   z-index: 100;
}

/*
 * Global Styles
 */

// Selection
::-moz-selection {
    background: $selection-bg;
    color: $selection-color;
    text-shadow: none;
}

::selection {
    background: $selection-bg;
    color: $selection-color;
    text-shadow: none;
}

// HTML
html {
  font-size: $default-font-size;
  line-height: $default-line-height;
}

// Body
body {
  color: $default-color;
  background: $background-color;
  overflow: hidden;
}

/*
 * Helpers
 */

// Visually Hidden
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Disable Selection
.noselect {
  user-select: none;
}

// Emoji
.emoji {
  height: 2.5em;
}
