@import '../variables';

// Reset Bootstrap Gutters
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

// App
#app-container {
  //Resets
  margin: 0;
  padding: 0;

  //Size
  height: 90vh;
  width: 80vw;

  //Alignment
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //Design
  background: $background;
}

// App Container Content
#app-container-content {
  height: 100%;
  width: 100%;
}

// Chat Column
#chat-column {
  height: 100% !important;
}

// Chat Container
#chat-container {
  height: 100% !important;
}

// Context Menu
#context-menu {
  border-radius: 0;
  position: absolute;
  display:none;
  border: 0;
  list-style-type: none;
  width: 200px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  label {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    cursor: pointer;
  }

  * {
    text-decoration: none;
    color: $primary;
  }

  *:hover {
    background-color: $highlight;
    color: white !important;
    cursor: pointer;

    a, label {
      color: white !important;
    }
  }
}
