<md-card id="app-container">
    <div class="row no-gutter" id="app-container-content">
      <div class="col-md-3 hidden-xs hidden-sm" id="chat-column">
        <chat-column (changeGroup)="chatComponent.changeToGroup($event)"></chat-column>
      </div>
      <div class="col-md-9" id="chat-container">
        <chat-container></chat-container>
      </div>
    </div>
</md-card>

<!-- Context Menu -->
<md-list id="context-menu">
  <md-list-item>
    <input type="file" name="file" id="file" (change)="chatComponent.sendImage($event)" class="visuallyhidden" accept="image/*">
    <label for="file">UPLOAD PIC</label>
  </md-list-item>
  <md-list-item>ITEM</md-list-item>
  <md-list-item><a href="/logout">LOGOUT</a></md-list-item>
</md-list>
