@import '../variables';

/*
 * Reset Bootstrap Gutters
 */
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

// App
#app-container {
  //Resets
  margin: 0;
  padding: 0;

  //Size
  height: $app-height;
  width: $app-width;

  //Alignment
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //Design
  background: $app-background;
}

// App Container Content
#app-container-content {
  height: 100%;
  width: 100%;
}

// Chat Column
#chat-column {
  height: 100% !important;
}

// Chat Container
#chat-container {
  height: 100% !important;
}
