<div id="chat-container-header"></div>
<div id="chat-body" (contextmenu)="contextmenushow($event)" (click)="contextmenuhide($event)">
  <div id="messages" *ngFor="let message of messages">
    <div class="message-me" *ngIf="message.me; else elseBlock">
      <span class="image" *ngIf="message.image">
        <img src="{{message.image}}" class="img-responsive">
      </span>
      <span class="msg" *ngIf="message.msg" [innerHTML]="message.msg"></span>
      <span class="time noselect">{{message.time}}</span>
    </div>
    <ng-template #elseBlock>
    <div class="message">
      <span class="username noselect">{{message.name}}</span>
      <span class="image" *ngIf="message.image">
        <img src="{{message.image}}" class="img-responsive">
      </span>
      <span class="msg" *ngIf="message.msg" [innerHTML]="message.msg"></span>
      <span class="time noselect">{{message.time}}</span>
    </div>
    </ng-template>
  </div>
</div>
<div id="emoji-tray">
  <div id="emoji-tray-content">
    <h4>Emojis</h4>
    <div class="row">
      <div class="col-sm-1" *ngFor="let emoji of emojiSet" [innerHTML]="parseEmoji(emoji)" (click)="insertEmoji(emoji)"></div>
    </div>
  </div>
</div>
<div id="chat-sender" class="noselect">
  <form>
    <button type="button" id="emoji-tray-button" (click)="toggleEmojiTray()"><span class="glyphicon glyphicon-sunglasses"></span></button>
    <input type="text" name="msg" autocomplete="off" placeholder="Type a message" id="type-message" [(ngModel)]="chatmsg">
    <button type="submit" id="send-button" (click)="send(chatmsg)"><span class="glyphicon glyphicon-chevron-right"></span></button>
  </form>
  <md-progress-bar [mode]="progressStatus" [value]="progressSize"></md-progress-bar>
</div>
