@import '../../variables';

/*
 * Chat Container Header
 */
#chat-container-header {
  //Size
  height: $chat-container-header-height;
  width: 100%;

  //Design
  background: $chat-container-header-background;

  // Vertical Centering
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chat-container-header-content {}

/*
 * Chat Body
 */

#chat-body {
  //Size
  height: $chat-body-height;
  width: 100%;
  padding: $chat-body-padding;
  overflow-y: scroll;

  //Design
  background: $chat-body-background;
  color: $default-color;
}

/*
 * Emoji Tray
 */
 #emoji-tray {
  position: absolute;
  width: 100%;
  height: $emoji-tray-height;
  top: $emoji-tray-top-position;
  display: none;
  background: $emoji-tray-background;
  overflow-y: scroll;
  padding: $emoji-tray-padding;
}

#emoji-tray-content {
  width: $emoji-tray-content-width;
  margin: auto;

  h4 {
    padding: $emoji-tray-heading-padding;
    color: $default-color;
  }

  .col-sm-1 {
    cursor: pointer;
  }
}

/*
 * Message Sender
 */
#chat-sender {
  //Size
  height: $message-sender-height;
  width: 100%;

  //Design
  background: $message-sender-background;

  form {
    //Size
    height: 100%;
    width: 100%;
    padding: $message-sender-padding;
    text-align: center;

    // Center
    display: flex;
    justify-content: center;
    align-items: center;
    color: $message-sender-color;
  }

  md-progress-bar {
    position: relative;
    top: -5px;
  }
}


// Message Input
#type-message {
  border: 0;
  width: 90%;
  height: 3.5em;
  border-radius: 5px;
  padding-left: 15px;
  word-wrap: break-word;
  flex: 8;
}

#send-button, #emoji-tray-button {
  border: 0;
  background-color: transparent;
  color: $message-sender-button-color;
  font-size: 1.6em;
  flex: 1;
}

#emoji-tray-button {
  flex: 0.5;
}

#type-message:focus, #send-button:focus, #emoji-tray-button:focus {
  outline: 0;
}

/*
 * Messages
 */

 // Messages Container
 #messages {
   margin: 0;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-end;
   overflow: none;
 }

 // Message from others
 .message {
  display: inline-block;
  padding: 5px 15px;
  background-color: white;
  border-radius: 10px;
  min-width: 10em;
  max-width: 50%;

  flex: 1;
  align-self: flex-start;

  margin: 1px 0;
  .username {
    font-size: 0.8em;
    display: block;
  }

  .msg {
    word-wrap: break-word;
    display: block;
  }
}

// Message sent by user
.message-me {
  display: inline-block;
  padding: 5px 15px;
  background-color: #dcf8c6;
  border-radius: 10px;
  min-width: 10em;
  max-width: 50%;
  position: relative;

  flex: 1;
  align-self: flex-end;

  margin: 2px 0;

  .msg {
    word-wrap: break-word;
    display: block;
  }
}

.time {
  font-size: 0.6em;
  color: #BDBDBD;
}

/*
 * Message with Image
 */

 // Image Enlargement Cursor
 .image > img { cursor:zoom-in; }
 .image > img:-webkit-full-screen { cursor:zoom-out; }
 .image > img:-moz-full-screen { cursor:zoom-out; }
 .image > img:-ms-fullscreen { cursor:zoom-out; }
 .image > img:fullscreen { cursor:zoom-out; }
